# **<h1><center><span style="color:#3775a8"><u>SORBONNE DATA ANALYTIC : Le Datamanagement</u></span></center></h1>**
# **<span style="color:#3775a8">Import et exploration de la donnée</span>**

Bienvenue dans le suite du cours. Vous allez manipuler votre premier jeu de données : **Présentation des données**

# **<span style="color:#3775a8">1. L'import des données </span>**

In [1]:
import pandas as pd # Import de la librairie Pandas

In [2]:
df = pd.read_csv('sda_base_DM.csv') # C'est aussi simple que ça !

# **<span style="color:#3775a8">2. Explorer le DataFrame</span>**

Avant de plonger plus intensément dans la données, il faut effectuer quelques vérifications afin de mieux comprendre comment est structurée la donnée.

## **<span style="color:#3775a8">2.1. Les dimensions</span>**

Vous pouvez utiliser l'attribut `shape`.

In [3]:
df.shape # (nb lignes, nb colonnes)
         # Rappelez-vous l'absence de parenthèse réfère à une propriété

(210926, 10)

In [4]:
# Un peu de mise en forme
print(f"La base fait {df.shape[0]} lignes et {df.shape[1]} colonnes")

La base fait 210926 lignes et 10 colonnes

**Remarque :** Vous récupérez ici un tuple, il est donc immuable. C'est logique, il n'y a pas de raison de modifier cette propriété.

## **<span style="color:#3775a8">2.2. Les premières & les dernières lignes</span>**

Prenez le temps de regarder à le contenu de la donnée.

In [5]:
df.head() # Affiche les 5 premières lignes (par défaut)

,Date,Vitesse_Vent_Moyen_10min,Humidite,Precipitation_derniere_heure,Nom,Temperature_dC,Altitude,Longitude,Latitude,Region
0,2011-01-01 01:00:00,0.0,97.0,0.0,BORDEAUX-MERIGNAC,5.6,47,-0.691333,44.830667,Nouvelle-Aquitaine
1,2011-01-01 01:00:00,2.1,94.0,0.0,ORLY,-0.7,89,2.384333,48.716833,Île-de-France
2,2011-01-01 01:00:00,0.0,87.0,0.0,MARIGNANE,8.0,9,5.216000,43.437667,Provence-Alpes-Côte d'Azur
3,2011-01-01 01:00:00,3.1,84.0,NaN,JUAN DE NOVA,27.9,9,42.712000,-17.054667,NaN
4,2011-01-01 01:00:00,1.0,92.0,0.0,STRASBOURG-ENTZHEIM,-0.4,150,7.640333,48.549500,Grand Est

In [6]:
df.tail(n=3) # affiche les 10 dernières lignes

,Date,Vitesse_Vent_Moyen_10min,Humidite,Precipitation_derniere_heure,Nom,Temperature_dC,Altitude,Longitude,Latitude,Region
210923,2020-12-31 22:00:00,1.9,92.0,0.0,ORLY,1.1,89,2.384333,48.716833,Île-de-France
210924,2020-12-31 22:00:00,0.8,93.0,0.0,STRASBOURG-ENTZHEIM,2.4,150,7.640333,48.549500,Grand Est
210925,2020-12-31 22:00:00,3.3,95.0,0.0,BREST-GUIPAVAS,1.7,94,-4.412000,48.444167,Bretagne

## **<span style="color:#3775a8">2.3. Les types de données</span>**

Les `Dataframes` sont des conteneurs de `Series` et chacune d'entre elle peut  contenir un type de données différent.

In [7]:
df.dtypes

Date                             object
Vitesse_Vent_Moyen_10min        float64
Humidite                        float64
Precipitation_derniere_heure    float64
Nom                              object
Temperature_dC                  float64
Altitude                          int64
Longitude                       float64
Latitude                        float64
Region                           object
dtype: object

Vous pouvez remarquer ici que la colonne `Date` est mal typée, c'est une date et elle est typée comme un objet, il faut y remedier !

In [8]:
df['Date'] = pd.to_datetime(df['Date']) # Vous corrigez le type et écraser la colonne d'origine

In [9]:
df.dtypes

Date                            datetime64[ns]
Vitesse_Vent_Moyen_10min               float64
Humidite                               float64
Precipitation_derniere_heure           float64
Nom                                     object
Temperature_dC                         float64
Altitude                                 int64
Longitude                              float64
Latitude                               float64
Region                                  object
dtype: object

Le type de donnée est maintenant corrigé, cela sera notamment utile pour extraire des informations : le mois, la semaine, ...

## **<span style="color:#3775a8">2.4. La méthode info</span>**

La méthode `info` reprend :
- **Le shape** (ainsi que l'index utilisé)
- **le type données**

et ajoute :
- **Le nombre d'observation non nulles** (non manquante) par variable
- **La taille en mémoire** occupée par la base

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210926 entries, 0 to 210925
Data columns (total 10 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Date                          210926 non-null  datetime64[ns]
 1   Vitesse_Vent_Moyen_10min      207336 non-null  float64
 2   Humidite                      210828 non-null  float64
 3   Precipitation_derniere_heure  175642 non-null  float64
 4   Nom                           210926 non-null  object
 5   Temperature_dC                210867 non-null  float64
 6   Altitude                      210926 non-null  int64
 7   Longitude                     210926 non-null  float64
 8   Latitude                      210926 non-null  float64
 9   Region                        174645 non-null  object
dtypes: datetime64[ns](1), float64(6), int64(1), object(2)
memory usage: 16.1+ MB

Vous remarquez que certaines colonnes contiennent des valeurs manquantes. Vous savez dès maintenant que c'est un problème qu'il faudra gérer. 

## **<span style="color:#3775a8">2.5. Describe : obtenir rapidement quelques statistiques</span>**

Cette méthode permet également d'obtenir des informations sur les **variables catégorielles** tel que le *mode*. 

Pour ce faire, je vous invite à regarder la doc de la fonction et jouer sur les paramètres. Deux manières de procéder :
- Sur Jupyter Lab : après la 1ère parenthèse utilisez `maj+tab`
- Sur Google : Tapez *pandas* et le *nom de la méthode*, le premier lien est la doc

In [11]:
df.describe()

,Vitesse_Vent_Moyen_10min,Humidite,Precipitation_derniere_heure,Temperature_dC,Altitude,Longitude,Latitude
count,207336.000000,210828.000000,175642.000000,210867.000000,210926.000000,210926.000000,210926.000000
mean,4.251925,71.855446,0.078973,10.887127,104.780539,21.073080,29.607526
std,3.730084,18.514380,0.555887,11.286227,100.012238,45.385314,38.533448
min,0.000000,1.000000,-0.100000,-34.400000,9.000000,-4.412000,-66.663167
25%,1.900000,58.000000,0.000000,5.700000,43.000000,-0.691333,43.437667
50%,3.200000,75.000000,0.000000,11.900000,89.000000,3.149333,45.786833
75%,5.500000,87.000000,0.000000,18.200000,150.000000,7.640333,48.549500
max,46.800000,100.000000,59.500000,41.400000,331.000000,140.001000,48.716833

# **<span style="color:#37a871">Félicitations !</span>**

Félicitations vous savez maintenant comment explorer le contenu de vos `DataFrames`!

Dans le prochain chapitre vous allez découvrir comment **sélectionner** vos `Series` et les méthodes dédiées pour les explorer ainsi que comment filtrer sur les observations!